{% extends "base.html" %}
{% block contenido %}
<h1>Aqui defino la lista de artículos</h1>
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for post in posts%}
      <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <h3>{{ post.titulo }}</h3>
              <p class="card-text">{{ post.contenido | truncatechars:100 }}</p>
              <p>{{post.autor}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'postdetalle' id=post.id %}" class="btn btn-sm btn-outline-secondary">Ver más</a>
                  <a class="btn btn-sm btn-outline-secondary">Comentar</a>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
</div>
{% endblock%}